<div class="bread-crumb">
  <nz-breadcrumb>
    <nz-breadcrumb-item> Home </nz-breadcrumb-item>
    <nz-breadcrumb-item> <a href="">Application Center</a> </nz-breadcrumb-item>
    <nz-breadcrumb-item> <a href="">Application List</a> </nz-breadcrumb-item>
    <nz-breadcrumb-item> 用户列表 </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>

<nz-table #nzTable [nzDataSource]="_dataSet" [nzPageSize]="10" [nzBordered]="_bordered" [nzLoading]="_loading" [nzIsPagination]="_pagination"
  [nzShowFooter]="_footer" [nzShowTitle]="_title" [nzSize]="_size" [nzLoading]="_loading">
  <thead nz-thead *ngIf="_header">
    <tr>
      <th nz-th><span>邮箱</span></th>
      <th nz-th><span>手机</span></th>
      <th nz-th><span>昵称</span></th>
      <th nz-th><span>状态</span></th>
      <th nz-th><span>注册时间</span></th>
      <th nz-th><span>最后登录时间</span></th>
    </tr>
  </thead>
  <tbody nz-tbody>
    <tr nz-tbody-tr *ngFor="let data of nzTable.data">
      <td nz-td>{{data.user_name}}</td>
      <td nz-td>{{data.user_name_status}}</td>
      <td nz-td>{{data.userName}}</td>
      <td nz-td>{{data.userNameStatus}}</td>
      <td nz-td>{{data.createDate}}</td>
      <td nz-td>{{data.dataDate}}</td>
    </tr>
  </tbody>
</nz-table>
<div class="pagination">
  <!-- _pageChange由子组件点击按钮触发，会将新页码传递过来 -->
  <my-pagination (_pageChange)="pageChange($event)" [nextCanUse]="nextCanUse" [currentPage]="_current"></my-pagination>
  <nz-select style="width: 60px;" [(ngModel)]="_itemPerPage">
    <nz-option *ngFor="let option of options" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
  </nz-select>
  <button nz-button [nzType]="'primary'" (click)="changeItemPerPage()" [disabled]="!_itemPerPage">
      <span>确定</span>
    </button>
</div>