.components-table-demo-control-bar {
  margin-bottom: 10px;
}
.components-table-demo-control-bar ::ng-deep .ant-form-item {
  margin-right: 16px;
  margin-bottom: 8px;
}

.pagination{line-height: 50px;}

nz-input{width:200px;}
.reg_time{padding: 0 5px 0 10px;}
.do_search{padding: 0 15px !important;}