<div class="bread-crumb">
  <nz-breadcrumb>
    <nz-breadcrumb-item> Home </nz-breadcrumb-item>
    <nz-breadcrumb-item> <a routerLink="/dev-type-list">设备类型列表</a> </nz-breadcrumb-item>
    <nz-breadcrumb-item> 设备型号：{{devTypeId}} </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>

<div class="sub-info" *ngIf="devTypeInfo" nz-row [nzGutter]="32">
  <nz-table #nzTable nzDataSource="1" [nzIsPagination]="false" nz-col [nzSpan]="24" [nzSize]="'middle'" [nzBordered]="true"
    [nzShowTitle]="true">
    <span class="table-title" nz-table-title>设备信息
      <span style="float:right;margin-right:20px;">
        <button *ngIf="!editing" (click)="editDevBaseInfo();editing = !editing;" nz-button [nzType]="'primary'" [nzSize]="'small'">修改</button>
        <span *ngIf="editing"> <a (click)="okBaseInfo();editing = !editing;">保存</a></span>
    <span *ngIf="editing">
          <nz-popconfirm [nzTitle]="'确定返回?'" (nzOnConfirm)="editing = !editing;">
            <a nz-popconfirm>取消</a>
          </nz-popconfirm>
        </span>
    </span>
    </span>
    <tbody nz-tbody>
      <tr nz-tbody-tr>
        <td>设备型号</td>
        <td>
          <!-- {{devTypeInfo?.typeName}} -->
          <span *ngIf="!editing">{{devTypeInfo?.typeName}}</span>
          <span *ngIf="editing">
            <nz-input [(ngModel)]="baseInfoEditObj.typeName" nzType="textarea" nzAutosize></nz-input>
          </span>
        </td>
        <td>设备型号ID</td>
        <td>{{ devTypeInfo?.devTypeId }}</td>
      </tr>
      <tr nz-tbody-tr>
        <td>设备型号描述</td>
        <td>
          <span *ngIf="!editing">{{devTypeInfo?.typeDesp}}</span>
          <span *ngIf="editing">
            <nz-input [(ngModel)]="baseInfoEditObj.typeDesp" nzType="textarea" nzAutosize></nz-input>
          </span>
        </td>
        <td>最后修改人</td>
        <td>{{ devTypeInfo?.lastModify?.lastModifyAdmin }}</td>
      </tr>
      <tr nz-tbody-tr>
        <td>最后修改时间</td>
        <td>{{ devTypeInfo?.lastModify?.lastModifyDate | date: "yyyy-MM-dd"}}</td>
      </tr>
    </tbody>
  </nz-table>
  <div class="users-login" nz-col [nzSpan]="24" style="margin-top:20px;">
    <nz-table style="margin-top:20px;" #nzTable1 [nzDataSource]="2" [nzIsPagination]="false" [nzScroll]="{ y: 180 }" [nzShowTitle]="true"
      [nzSize]="'large'" [nzBordered]="true">
      <span class="table-title" nz-table-title>角色列表<button (click)="addRole()" nz-button [nzType]="'primary'" [nzSize]="'small'" style="float:right;margin-right:20px;">新增</button></span>
      <ng-template #nzFixedHeader>
        <thead nz-thead>
          <tr>
            <th nz-th [nzWidth]="'150px'"><span>角色</span></th>
            <th nz-th [nzWidth]="'150px'"><span>角色描述</span></th>
            <th nz-th [nzWidth]="'150px'"><span>角色状态</span></th>
            <th nz-th [nzWidth]="'150px'"><span>角色能力json</span></th>
            <th nz-th [nzWidth]="'150px'"><span>修改</span></th>
          </tr>
        </thead>
      </ng-template>

      <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let data of devTypeInfo?.devRoles; let i = index">
          <td nz-td>{{data.role}}</td>
          <td nz-td>
            <span *ngIf="!data.editRow">{{data.roleDesp}}</span>
            <span *ngIf="data.editRow">
              <nz-input [(ngModel)]="roleListEditObj.roleDesp" nzType="textarea" nzAutosize></nz-input>
            </span>
          </td>
          <td nz-td>
            <span *ngIf="!data.editRow">{{data.roleStatus}}</span>
            <span *ngIf="data.editRow">
              <nz-input [(ngModel)]="roleListEditObj.roleStatus" nzType="textarea" nzAutosize></nz-input>
            </span>
          </td>
          <td nz-td>
            <span *ngIf="!data.editRow">{{data.roleAbility}}</span>
            <span *ngIf="data.editRow">
              <nz-input [(ngModel)]="roleListEditObj.roleAbility" nzType="textarea" nzAutosize></nz-input>
            </span>
          </td>
          <td nz-td style="text-align:center">
            <button *ngIf="!data.editRow" (click)="edit(i);data.editRow = !data.editRow;" nz-button [nzType]="'primary'" [nzSize]="'small'">修改</button>
            <span *ngIf="data.editRow"> <a (click)="ok(i);data.editRow = !data.editRow;">保存</a></span>
            <span *ngIf="data.editRow">
                <nz-popconfirm [nzTitle]="'确定返回?'" (nzOnConfirm)="data.editRow = !data.editRow;">
                  <a nz-popconfirm>取消</a>
                </nz-popconfirm>
            </span>
          </td>
        </tr>
      </tbody>

    </nz-table>
  </div>
  <div class="users-login" nz-col [nzSpan]="24" style="margin-top:20px;">
    <nz-table style="margin-top:20px;" #nzTable2 [nzDataSource]="3" [nzIsPagination]="false" [nzScroll]="{ y: 180 }" [nzShowTitle]="true"
      [nzSize]="'large'" [nzBordered]="true">
      <span class="table-title" nz-table-title>固件版本列表<button (click)="addRomVersion()" nz-button [nzType]="'primary'" [nzSize]="'small'" style="float:right;margin-right:20px;">新增</button></span>
      <ng-template #nzFixedHeader>
        <thead nz-thead>
          <tr>
            <th nz-th [nzWidth]="'150px'"><span>固件版本</span></th>
            <th nz-th [nzWidth]="'150px'"><span>升级描述</span></th>
            <th nz-th [nzWidth]="'150px'"><span>发布日期</span></th>
            <th nz-th [nzWidth]="'150px'"><span>升级地址</span></th>
            <th nz-th [nzWidth]="'150px'"><span>修改</span></th>
          </tr>
        </thead>
      </ng-template>
      <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let data of devTypeInfo?.romTypeList; let i = index">
          <td nz-td>{{data.version}}</td>
          <td nz-td>{{data.updateDesp}}</td>
          <td nz-td>{{data.date | date: 'yyyy-MM-dd'}}</td>
          <td nz-td>{{data.updateAddress}}</td>
          <td nz-td style="text-align:center"><span (click)="edit(i)">edit</span> </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>