<div class="bread-crumb">
  <nz-breadcrumb>
    <nz-breadcrumb-item> Home </nz-breadcrumb-item>
    <nz-breadcrumb-item> <a href="">Application Center</a> </nz-breadcrumb-item>
    <nz-breadcrumb-item> <a href="">Application List</a> </nz-breadcrumb-item>
    <nz-breadcrumb-item> 设备列表 </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>
<div style="margin-bottom:20px;">
  <nz-input [(ngModel)]="queryDevData.query" [nzPlaceHolder]="'邮箱/手机/昵称'" [nzSize]="'large'"></nz-input>
  <nz-select nzAllowClear [nzPlaceHolder]="'用户状态'" [(ngModel)]="queryDevData.devStatus" [nzShowSearch]="true">
    <nz-option *ngFor="let option of devStatuses" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.disabled">
    </nz-option>
  </nz-select>

  <span class="reg_time">注册时间:</span>
  <nz-datepicker (ngModelChange)="queryDevData.startTime=$event;_startValueChange()" [ngModel]="queryDevData.startTime" [nzDisabledDate]="_disabledStartDate"
    [nzShowTime]="true" [nzFormat]="'YYYY-MM-DD HH:mm:ss'" [nzPlaceHolder]="'开始时间'"></nz-datepicker>

  <nz-datepicker (ngModelChange)="queryDevData.endTime=$event;_endValueChange()" [ngModel]="queryDevData.endTime" [nzDisabledDate]="_disabledEndDate"
    [nzShowTime]="queryDevData.endTime" [nzFormat]="'YYYY-MM-DD HH:mm:ss'" [nzPlaceHolder]="'结束时间'"></nz-datepicker>
  <button class="do_search" nz-button [nzType]="'primary'"><i class="anticon anticon-search" (click)="doSearch()"></i></button>
  <button class="do_search" nz-button [nzType]="'primary'"><i class="anticon anticon-plus" routerLink="/add-user"></i></button>
</div>
<nz-table #nzTable [nzDataSource]="_dataSet" [nzPageSize]="10" [nzBordered]="_bordered" [nzLoading]="_loading" [nzIsPagination]="_pagination"
  [nzShowFooter]="_footer" [nzShowTitle]="_title" [nzSize]="_size" [nzLoading]="_loading">
  <thead nz-thead *ngIf="_header">
    <tr>
      <th nz-th><span>设备标识</span></th>
      <th nz-th><span>设备型号</span></th>
      <th nz-th><span>型号ID</span></th>
      <th nz-th><span>设备状态</span></th>
      <th nz-th><span>固件版本</span></th>
      <th nz-th><span>出厂时间</span></th>
      <th nz-th><span>手机</span></th>
      <th nz-th><span>邮箱</span></th>
      <th nz-th><span>设备在线状态</span></th>
      <th nz-th><span>操作</span></th>
    </tr>
  </thead>
  <tbody nz-tbody>
    <tr nz-tbody-tr *ngFor="let data of nzTable.data; let i=index">
      <td nz-td>{{data.cid}}</td>
      <td nz-td>{{data?.devType?.typeName}}</td>
      <td nz-td>{{data?.devType?.devTypeId}}</td>
      <td nz-td>{{data?.devStatus}}</td>
      <td nz-td>{{data?.currentVersion}}</td>
      <td nz-td>{{data?.regDate}}</td>
      <td nz-td>{{data?.mobile}}</td>
      <td nz-td>{{data?.email}}</td>
      <td nz-td>
        <span class="isOnlive" (click)="getState(data.cid, i)" title="点击查询实时状态">
        {{data?.devOnLive === undefined ? '点击查询' : data?.devOnLive }}
      </span>
      </td>
      <!-- 传递设备cid到DevInfo路由 -->
      <td nz-td style="text-align:center;"><i [routerLink]="'/dev-info/'+data.cid" class="anticon anticon-login" style="cursor: pointer;color:cornflowerblue;"></i></td>
    </tr>
  </tbody>
</nz-table>
<div class="pagination">
  <!-- _pageChange由子组件点击按钮触发,触发父组件更新数据 -->
  <!-- refreshData获取新数据、nextCanUse设置下一页按钮是否可用、_currentPage当前页码、_itemPerPage每页条数 -->
  <my-pagination (refreshData)="refreshData($event)" [nextCanUse]="nextCanUse" [(_currentPage)]="queryDevData.startPage" [(_itemPerPage)]="queryDevData.pageSize"></my-pagination>
</div>