<div class="bread-crumb">
  <nz-breadcrumb>
    <nz-breadcrumb-item> <a href="">Home</a> </nz-breadcrumb-item>
    <nz-breadcrumb-item> 新增用户 </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>

<div nz-row>
  <h2 style="text-align:center;margin-top:20px;">新增用户</h2>
  <div nz-col [nzSpan]="8" [nzOffset]="8">
    <nz-input [(ngModel)]="addInfo.email" [nzPlaceHolder]="'邮箱'"></nz-input>
    <nz-input [(ngModel)]="addInfo.mobile" [nzPlaceHolder]="'手机'"></nz-input>
    <nz-input [(ngModel)]="addInfo.userName" [nzPlaceHolder]="'用户名'"></nz-input>
    <nz-input [(ngModel)]="addInfo.password" [nzPlaceHolder]="'密码'"></nz-input>
    <nz-select style="width:100%" nzAllowClear [nzPlaceHolder]="'选择账号状态'" [(ngModel)]="addInfo.userNameStatus" [nzShowSearch]="true">
      <nz-option *ngFor="let option of Options" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.disabled">
      </nz-option>
    </nz-select>
    <button style="width:100%" nz-button [nzType]="'primary'" (click)="add()">提交</button>
  </div>
</div>