<div class="user-login" style="display: flex;justify-content:center;padding-top:250px;">
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="_submitForm()" style="width:300px;">
      <div nz-form-item>
        <div nz-form-control [nzValidateStatus]="validateForm.controls.username">
          <nz-input formControlName="username" [nzPlaceHolder]="'username'">
            <ng-template #prefix>
              <i class="anticon anticon-user"></i>
            </ng-template>
          </nz-input>
          <div nz-form-explain *ngIf="validateForm.controls.username.dirty&&validateForm.controls.username.hasError('required')">Please input your username!</div>
        </div>
      </div>
      <div nz-form-item>
        <div nz-form-control [nzValidateStatus]="validateForm.controls.password">
          <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'Password'">
            <ng-template #prefix>
              <i class="anticon anticon-lock"></i>
            </ng-template>
          </nz-input>
          <div nz-form-explain *ngIf="validateForm.controls.password.dirty&&validateForm.controls.password.hasError('required')">Please input your Password!</div>
        </div>
      </div>
      <div nz-form-item>
        <div nz-form-control>
          <button class="login" nz-button class="login-form-button" [disabled]="!validateForm.valid" [nzType]="'primary'" [nzSize]="'default'" style="width:100%">{{ btnText }}</button>
        </div>
      </div>
    </form>
  </div>